Reset some default browser styles
body, h1, h2, p, a, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}
.linkz{
    justify-content: space-between;
    justify-items: auto;
    justify-content: space-evenly;
    display: flex;
    flex: auto;
}

body {
    background-color: #f8f9fa;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.container {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* Add margin to separate from other content */
}

.form-container {
    text-align: left;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container a {
    color: #007bff;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.form-container a:hover {
    text-decoration: underline;
}


.button-group {
    text-align: center;
    margin-top: 10px;
}

.button-group a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px; /* Adjust margin to create space between links */
}

.button-group a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .card {
        padding: 20px;
    }

    .form-container h2 {
        font-size: 1.2em;
    }

    .form-container input, .form-container button {
        font-size: 0.9em;
        padding: 8px;
    }
}
